extends layout
block content
  .text-center
    a(href="/inventario/vehiculo")
      img(src='/img/vehiculo1.png')
    a(href="/inventario/repuesto")
      img(src='/img/repuestos1.png', width='250', height='200')
