doctype html
html
  head
    title Team Inventarios
    link(rel='stylesheet' href = '/bower_components/bootstrap/dist/css/bootstrap.css')

  body
    nav.sidebar.navbar.navbar-dark-top.bg-dark.flex-md-nowrap.p-0.shadow
      a.navbar-brand.col-sm-3.col-md-2.mr-0(href='/') Team Inventario
      input.form-control.form-control-dark.w-100(type='text', placeholder='Search', aria-label='Search')
      ul.navbar-nav.px-3
        li.nav-item.text-nowrap
          a.nav-link(href='#') Sign out
    .container-fluid
      .row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            ul.nav.flex-column
              li.nav-item
                a.nav-link(href='/inventario')
                  span(data-feather='home')
                  |               Panel de Control
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='bar-chart-2')
                  |               Control de Usuarios
              li.nav-item
                a.nav-link(href='/vehiculo/agregar')
                  span(data-feather='shopping-cart')
                  |               Registro de Productos
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='users')
                  |               Registro de Entrada
            li.nav-item
              a.nav-link(href='/registroSalida')
                span(data-feather='bar-chart-2')
                |               Registro de Salida
              li.nav-item
                a.nav-link(href='#')
                  span(data-feather='bar-chart-2')
                  |               Reportes
        main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
            h1.h2 #{title}
            .btn-toolbar.mb-2.mb-md-0
              .btn-group.mr-2
                button.btn.btn-sm.btn-outline-secondary(type='button') Share
                button.btn.btn-sm.btn-outline-secondary(type='button') Export
              button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
                span(data-feather='calendar')
                |             This week
          != messages('message', locals)
          if errors
            each error, i in errors
              div(class="alert alert-danger") #{error.msg}
          block content
          br
          .bottom
              hr
              footer
              p.text-center Copyright &copy; 2019
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/funciones.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
