extends layout
block content
  ul.list-group
    each modeloVehiculo, i in modeloVehiculos 
      li.list-group-item
        a(href="/inventario/"+producto+"/"+tipo+"/"+modeloVehiculo)= modeloVehiculo
