extends layout
block content
  form(method = 'POST', action = '/registroEntrada/nuevo/repuesto')

    .row
      .col
        h3.h4 Modelo
        select#modelo.custom-select.d-block.w-100(name='modelo')
          option(value='') Modelo
          each modelo, i in modelos
            option #{modelo.modelo}
      .col
        h3.h4 Cantidad
        input#cantidad.form-control(name='cantidad')
    br
    .row
      .col
        h3.h4 Color
        select#color.custom-select.d-block.w-100(name='color')
          option(value='') Color
          option Azul
          option Blanco
          option Rojo
          option Negro
      .col
        h3.h4 Almacen
        select#almacen.custom-select.d-block.w-100(name='almacen')
          option(value='') Almacen
          option Los Olivos
          option Lima
          option Callao
    br
    .row
      .col
      .col-left
        button.btn.btn-outline-primary Ingresar Stock
