extends layout
block content
  h1.h2= user.nombre
  .row
    a.button.btn.btn-outline-primary(href='/registroProductos/nuevo/modeloVehiculo') Crear Modelo de Vehiculo
    a.button.btn.btn-outline-primary(href='/registroProductos/editar/vehiculo') Editar
  br
  .row  
    .col.md-2
      a.button.btn.btn-outline-primary(href='/registroProductos/nuevo/modeloRepuesto') Crear Modelo de Repuesto
    .col.md-3
      a.button.btn.btn-outline-primary(href='/registroProductos/editar/repuesto') Editar
