extends layout
block content
  .row
    a.button.btn.btn-outline-primary(href='/registroProductos/nuevo/modeloVehiculo') Crear Nuevo Modelo de Vehiculo
  br
  .row  
    a.button.btn.btn-outline-primary(href='/registroProductos/nuevo/modeloRepuesto') Crear Nuevo Modelo de Repuesto
  br
  .row  
    a.button.btn.btn-outline-primary(href='/registroProductos/editar') Editar Modelo
