extends layout
block content
  .table-responsive
    table.table.table-striped.table-sm
      thead
        tr
          th ID
          th Nombre Producto
          th Cantidad
          th Precio
          th Fecha
          th Total
    
