extends layout
block content
  .row.d-flex.justify-content-center
    a.button.btn.btn-outline-primary(href='/registroProductos/nuevo/modeloVehiculo') Crear Modelo de Vehiculo
    a.button.btn.btn-outline-primary(href='/registroProductos/editar/vehiculo') Editar
  br
  .row.d-flex.justify-content-center  
    a.button.btn.btn-outline-primary(href='/registroProductos/nuevo/modeloRepuesto') Crear Modelo de Repuesto
    a.button.btn.btn-outline-primary(href='/registroProductos/editar/repuesto') Editar
